<div>
  <%if @user.nil? %>
    <%= link_to "ログイン", new_user_session_path%>
    <%= link_to "新規登録", new_user_registration_path %>


  <%else %>
    <div>
      <img src=<%= @user.image %> class="icon_image">
    </div>
    <div>
      <%= @user.email %>
    </div>
    <div>
      <%= @user.name %>
    </div>
    <div>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
    <%= link_to "コード一覧", "codes" %>
  <%end %>

</div>
